mysqlclient
markdown
django
django-environ
django-ipware
django-filter
django-split-settings
django-cors-headers
django-admin-list-filter-dropdown
django-admin-rangefilter
djangorestframework
djangorestframework-simplejwt
drf-yasg
pytest-django
Faker
mixer
python-dateutil
text-unidecode
pytest
django-mptt
